{% include base_path %}
{% assign publication = include.item %}
{% assign title = publication.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% assign highlight_name = site.author.highlight_name | default: "Yichuan Mo" %}
{% assign authors = publication.authors %}
{% if authors == nil or authors == "" %}
  {% if publication.citation %}
    {% assign authors = publication.citation | split: ". (" | first %}
  {% endif %}
{% endif %}
{% capture highlighted_author %}<strong>{{ highlight_name }}</strong>{% endcapture %}
{% if authors %}
  {% assign authors = authors | replace: highlight_name, highlighted_author %}
{% endif %}

<article class="publication-entry" itemscope itemtype="http://schema.org/ScholarlyArticle">
  <h3 class="publication-entry__title" itemprop="headline">
    {{ title }}
  </h3>

  {% if authors %}
    <p class="publication-entry__authors">{{ authors }}</p>
  {% endif %}

  {% if publication.venue %}
    <p class="publication-entry__venue"><em>{{ publication.venue }}</em></p>
  {% elsif publication.citation %}
    <p class="publication-entry__venue">{{ publication.citation }}</p>
  {% endif %}

  {% include publication-links.html item=publication %}
</article>
