{% include base_path %}
{% assign publication = include.item %}
{% assign pdf_url = publication.pdf | default: publication.paperurl | default: publication.pdfurl %}
{% assign slides_url = publication.slidesurl %}
{% assign code_url = publication.code | default: publication.codeurl %}
{% assign project_url = publication.project | default: publication.projecturl %}
{% assign bib_content = publication.bib | default: publication.bibtex %}
{% assign bibtex_url = publication.biburl | default: publication.bibtexurl %}
{% capture _bib_newline %}
{% endcapture %}
{% if bib_content %}
  {% assign bib_attr = bib_content | escape | replace: _bib_newline, "&#10;" %}
{% endif %}

{% assign has_actions = false %}
{% if pdf_url or slides_url or code_url or project_url or bibtex_url or bib_content %}
  {% assign has_actions = true %}
{% endif %}

{% if has_actions %}
  <div class="publication-links">
    {% if pdf_url %}
      <a class="publication-links__link" href="{% if pdf_url contains '://' %}{{ pdf_url }}{% else %}{{ pdf_url | prepend: base_path }}{% endif %}" target="_blank" rel="noopener">[pdf]</a>
    {% endif %}

    {% if slides_url %}
      <a class="publication-links__link" href="{% if slides_url contains '://' %}{{ slides_url }}{% else %}{{ slides_url | prepend: base_path }}{% endif %}" target="_blank" rel="noopener">[slides]</a>
    {% endif %}

    {% if code_url %}
      <a class="publication-links__link" href="{% if code_url contains '://' %}{{ code_url }}{% else %}{{ code_url | prepend: base_path }}{% endif %}" target="_blank" rel="noopener">[code]</a>
    {% endif %}

    {% if project_url %}
      <a class="publication-links__link" href="{% if project_url contains '://' %}{{ project_url }}{% else %}{{ project_url | prepend: base_path }}{% endif %}" target="_blank" rel="noopener">[project]</a>
    {% endif %}

    {% if bib_content %}
      <button type="button" class="publication-links__link publication-links__bib-trigger" data-bib="{{ bib_attr }}" data-bib-title="{{ publication.title | escape }}">[bib]</button>
    {% elsif bibtex_url %}
      <a class="publication-links__link" href="{% if bibtex_url contains '://' %}{{ bibtex_url }}{% else %}{{ bibtex_url | prepend: base_path }}{% endif %}" target="_blank" rel="noopener">[bib]</a>
    {% endif %}
  </div>
{% endif %}
